
    <footer class="footer">
        <ul>
            <li class="footer_li">
                <h3>OUR COMPANY</h3>
                <nav>
                    <a href="/"> HOME </a>
                    <a href="/about">ABOUT </a>
                    <a href="/contact"> CONTACT </a>
                </nav>
            </li>
            <li>
                <h3>HELP AND SUPPORT</h3>
                <nav>
                    <a href="/#faq">FAQ </a>
                    <a href="/policy">TERMS OF SEVICES </a>
                    <a href="/register"> REGISTER </a>
                    <a href="/login"> LOGIN </a>
                </nav>
            </li>    
            <li>
                <h3>CONTACT US </h3>
                <nav>
                    <a href="/contact">LEAVE US A MESSAGE</a>
                    <a href = "mailto: support@eightbit-miners.com">email us on support@eightbit-miners.com</a>
                    <p> NEW YORK, U.S.A </p>
                    <p><small> 8am to  5pm </small></p>
                </nav>
            </li> 
        </ul>
        <ul>
            <li class="footer_li">
                <div class="first">
                     <h2> 70K+</h2>
                    <small>  TRANSACTIONS DAILY </small>
                </div>
                <div>
                    <h2> 127 </h2>
                    <small>SUPPORTED COUNTRIES</small>
                </div>
            </li>
            <li>
              <h2>121k</h2>
              <small>ACTIVE ACCOUNTS</small>
            </li>    
        </ul>
        <div> copyright&copy;Eightbit Investment 2011-2021</div>
    </footer>