<select name="country" id="country" class="form-select" > 
    <option selected value="" > --Select Country -- </option> 
    <option data-target="AD" value="Andorra">Andorra</option> 
    <option data-target="AE" value="United Arab Emirates">United Arab Emirates</option> 
    <option data-target="AF" value="Afghanistan">Afghanistan</option> 
    <option data-target="AG" value="Antigua and Barbuda">Antigua and Barbuda</option> 
    <option data-target="AI" value="Anguilla">Anguilla</option> 
    <option data-target="AL" value="Albania">Albania</option> 
    <option data-target="AM" value="Armenia">Armenia</option> 
    <option data-target="AO" value="Angola">Angola</option> 
    <option data-target="AQ" value="Antarctica">Antarctica</option> 
    <option data-target="AR" value="Argentina">Argentina</option> 
    <option data-target="AS" value="American Samoa">American Samoa</option> 
    <option data-target="AT" value="Austria">Austria</option> 
    <option data-target="AU" value="Australia">Australia</option> 
    <option data-target="AW" value="Aruba">Aruba</option> 
    <option data-target="AX" value="Åland Islands">Åland Islands</option> 
    <option data-target="AZ" value="Azerbaijan">Azerbaijan</option> 
    <option data-target="BA" value="Bosnia and Herzegovina">Bosnia and Herzegovina</option> 
    <option data-target="BB" value="Barbados">Barbados</option> 
    <option data-target="BD" value="Bangladesh">Bangladesh</option> 
    <option data-target="BE" value="Belgium">Belgium</option> 
    <option data-target="BF" value="Burkina Faso">Burkina Faso</option> 
    <option data-target="BG" value="Bulgaria">Bulgaria</option> 
    <option data-target="BH" value="Bahrain">Bahrain</option> 
    <option data-target="BI" value="Burundi">Burundi</option> 
    <option data-target="BJ" value="Benin">Benin</option> 
    <option data-target="BL" value="Saint Barthélemy">Saint Barthélemy</option> 
    <option data-target="BM" value="Bermuda">Bermuda</option> 
    <option data-target="BN" value="Brunei Darussalam">Brunei Darussalam</option> 
    <option data-target="BO" value="Bolivia, Plurinational State of">Bolivia, Plurinational State of</option> 
    <option data-target="BQ" value="Bonaire, Sint Eustatius and Saba">Bonaire, Sint Eustatius and Saba</option> 
    <option data-target="BR" value="Brazil">Brazil</option> 
    <option data-target="BS" value="Bahamas">Bahamas</option> 
    <option data-target="BT" value="Bhutan">Bhutan</option> 
    <option data-target="BV" value="Bouvet Island">Bouvet Island</option> 
    <option data-target="BW" value="Botswana">Botswana</option> 
    <option data-target="BY" value="Belarus">Belarus</option> 
    <option data-target="BZ" value="Belize">Belize</option> 
    <option data-target="CA" value="Canada">Canada</option> 
    <option data-target="CC" value="Cocos (Keeling) Islands">Cocos (Keeling) Islands</option> 
    <option data-target="CD" value="Congo, Democratic Republic of the">Congo, Democratic Republic of the</option> 
    <option data-target="CF" value="Central African Republic">Central African Republic</option> 
    <option data-target="CG" value="Congo">Congo</option> 
    <option data-target="CH" value="Switzerland">Switzerland</option> 
    <option data-target="CI" value="Côte d'Ivoire">Côte d'Ivoire</option> 
    <option data-target="CK" value="Cook Islands">Cook Islands</option> 
    <option data-target="CL" value="Chile">Chile</option> 
    <option data-target="CM" value="Cameroon">Cameroon</option> 
    <option data-target="CN" value="China">China</option> 
    <option data-target="CO" value="Colombia">Colombia</option> 
    <option data-target="CR" value="Costa Rica">Costa Rica</option> 
    <option data-target="CU" value="Cuba">Cuba</option> 
    <option data-target="CV" value="Cabo Verde">Cabo Verde</option> 
    <option data-target="CW" value="Curaçao">Curaçao</option> 
    <option data-target="CX" value="Christmas Island">Christmas Island</option> 
    <option data-target="CY" value="Cyprus">Cyprus</option> 
    <option data-target="CZ" value="Czechia">Czechia</option> 
    <option data-target="DE" value="Germany">Germany</option> 
    <option data-target="DJ" value="Djibouti">Djibouti</option> 
    <option data-target="DK" value="Denmark">Denmark</option> 
    <option data-target="DM" value="Dominica">Dominica</option> 
    <option data-target="DO" value="Dominican Republic">Dominican Republic</option> 
    <option data-target="DZ" value="Algeria">Algeria</option> 
    <option data-target="EC" value="Ecuador">Ecuador</option> 
    <option data-target="EE" value="Estonia">Estonia</option> 
    <option data-target="EG" value="Egypt">Egypt</option> 
    <option data-target="EH" value="Western Sahara">Western Sahara</option> 
    <option data-target="ER" value="Eritrea">Eritrea</option> 
    <option data-target="ES" value="Spain">Spain</option> 
    <option data-target="ET" value="Ethiopia">Ethiopia</option> 
    <option data-target="FI" value="Finland">Finland</option> 
    <option data-target="FJ" value="Fiji">Fiji</option> 
    <option data-target="FK" value="Falkland Islands (Malvinas)">Falkland Islands (Malvinas)</option> 
    <option data-target="FM" value="Micronesia, Federated States of">Micronesia, Federated States of</option> 
    <option data-target="FO" value="Faroe Islands">Faroe Islands</option> 
    <option data-target="FR" value="France">France</option> 
    <option data-target="GA" value="Gabon">Gabon</option> 
    <option data-target="GB" value="United Kingdom of Great Britain and Northern Ireland">United Kingdom of Great Britain and Northern Ireland</option> 
    <option data-target="GD" value="Grenada">Grenada</option> 
    <option data-target="GE" value="Georgia">Georgia</option> 
    <option data-target="GF" value="French Guiana">French Guiana</option> 
    <option data-target="GG" value="Guernsey">Guernsey</option> 
    <option data-target="GH" value="Ghana">Ghana</option> 
    <option data-target="GI" value="Gibraltar">Gibraltar</option> 
    <option data-target="GL" value="Greenland">Greenland</option> 
    <option data-target="GM" value="Gambia">Gambia</option> 
    <option data-target="GN" value="Guinea">Guinea</option> 
    <option data-target="GP" value="Guadeloupe">Guadeloupe</option> 
    <option data-target="GQ" value="Equatorial Guinea">Equatorial Guinea</option> 
    <option data-target="GR" value="Greece">Greece</option> 
    <option data-target="GS" value="South Georgia and the South Sandwich Islands">South Georgia and the South Sandwich Islands</option> 
    <option data-target="GT" value="Guatemala">Guatemala</option> 
    <option data-target="GU" value="Guam">Guam</option> 
    <option data-target="GW" value="Guinea-Bissau">Guinea-Bissau</option> 
    <option data-target="GY" value="Guyana">Guyana</option> 
    <option data-target="HK" value="Hong Kong">Hong Kong</option> 
    <option data-target="HM" value="Heard Island and McDonald Islands">Heard Island and McDonald Islands</option> 
    <option data-target="HN" value="Honduras">Honduras</option> 
    <option data-target="HR" value="Croatia">Croatia</option> 
    <option data-target="HT" value="Haiti">Haiti</option> 
    <option data-target="HU" value="Hungary">Hungary</option> 
    <option data-target="ID" value="Indonesia">Indonesia</option> 
    <option data-target="IE" value="Ireland">Ireland</option> 
    <option data-target="IL" value="Israel">Israel</option> 
    <option data-target="IM" value="Isle of Man">Isle of Man</option> 
    <option data-target="IN" value="India">India</option> 
    <option data-target="IO" value="British Indian Ocean Territory">British Indian Ocean Territory</option> 
    <option data-target="IQ" value="Iraq">Iraq</option> 
    <option data-target="IR" value="Iran, Islamic Republic of">Iran, Islamic Republic of</option> 
    <option data-target="IS" value="Iceland">Iceland</option> 
    <option data-target="IT" value="Italy">Italy</option> 
    <option data-target="JE" value="Jersey">Jersey</option> 
    <option data-target="JM" value="Jamaica">Jamaica</option> 
    <option data-target="JO" value="Jordan">Jordan</option> 
    <option data-target="JP" value="Japan">Japan</option> 
    <option data-target="KE" value="Kenya">Kenya</option> 
    <option data-target="KG" value="Kyrgyzstan">Kyrgyzstan</option> 
    <option data-target="KH" value="Cambodia">Cambodia</option> 
    <option data-target="KI" value="Kiribati">Kiribati</option> 
    <option data-target="KM" value="Comoros">Comoros</option> 
    <option data-target="KN" value="Saint Kitts and Nevis">Saint Kitts and Nevis</option> 
    <option data-target="KP" value="Korea, Democratic People's Republic of">Korea, Democratic People's Republic of</option> 
    <option data-target="KR" value="Korea, Republic of">Korea, Republic of</option> 
    <option data-target="KW" value="Kuwait">Kuwait</option> 
    <option data-target="KY" value="Cayman Islands">Cayman Islands</option> 
    <option data-target="KZ" value="Kazakhstan">Kazakhstan</option> 
    <option data-target="LA" value="Lao People's Democratic Republic">Lao People's Democratic Republic</option> 
    <option data-target="LB" value="Lebanon">Lebanon</option> 
    <option data-target="LC" value="Saint Lucia">Saint Lucia</option> 
    <option data-target="LI" value="Liechtenstein">Liechtenstein</option> 
    <option data-target="LK" value="Sri Lanka">Sri Lanka</option> 
    <option data-target="LR" value="Liberia">Liberia</option> 
    <option data-target="LS" value="Lesotho">Lesotho</option> 
    <option data-target="LT" value="Lithuania">Lithuania</option> 
    <option data-target="LU" value="Luxembourg">Luxembourg</option> 
    <option data-target="LV" value="Latvia">Latvia</option> 
    <option data-target="LY" value="Libya">Libya</option> 
    <option data-target="MA" value="Morocco">Morocco</option> 
    <option data-target="MC" value="Monaco">Monaco</option> 
    <option data-target="MD" value="Moldova, Republic of">Moldova, Republic of</option> 
    <option data-target="ME" value="Montenegro">Montenegro</option> 
    <option data-target="MF" value="Saint Martin, (French part)">Saint Martin, (French part)</option> 
    <option data-target="MG" value="Madagascar">Madagascar</option> 
    <option data-target="MH" value="Marshall Islands">Marshall Islands</option> 
    <option data-target="MK" value="North Macedonia">North Macedonia</option> 
    <option data-target="ML" value="Mali">Mali</option> 
    <option data-target="MM" value="Myanmar">Myanmar</option> 
    <option data-target="MN" value="Mongolia">Mongolia</option> 
    <option data-target="MO" value="Macao">Macao</option> 
    <option data-target="MP" value="Northern Mariana Islands">Northern Mariana Islands</option> 
    <option data-target="MQ" value="Martinique">Martinique</option> 
    <option data-target="MR" value="Mauritania">Mauritania</option> 
    <option data-target="MS" value="Montserrat">Montserrat</option> 
    <option data-target="MT" value="Malta">Malta</option> 
    <option data-target="MU" value="Mauritius">Mauritius</option> 
    <option data-target="MV" value="Maldives">Maldives</option> 
    <option data-target="MW" value="Malawi">Malawi</option> 
    <option data-target="MX" value="Mexico">Mexico</option> 
    <option data-target="MY" value="Malaysia">Malaysia</option> 
    <option data-target="MZ" value="Mozambique">Mozambique</option> 
    <option data-target="NA" value="Namibia">Namibia</option> 
    <option data-target="NC" value="New Caledonia">New Caledonia</option> 
    <option data-target="NE" value="Niger">Niger</option> 
    <option data-target="NF" value="Norfolk Island">Norfolk Island</option> 
    <option data-target="NG" value="Nigeria">Nigeria</option> 
    <option data-target="NI" value="Nicaragua">Nicaragua</option> 
    <option data-target="NL" value="Netherlands">Netherlands</option> 
    <option data-target="NO" value="Norway">Norway</option> 
    <option data-target="NP" value="Nepal">Nepal</option> 
    <option data-target="NR" value="Nauru">Nauru</option> 
    <option data-target="NU" value="Niue">Niue</option> 
    <option data-target="NZ" value="New Zealand">New Zealand</option> 
    <option data-target="OM" value="Oman">Oman</option> 
    <option data-target="PA" value="Panama">Panama</option> 
    <option data-target="PE" value="Peru">Peru</option> 
    <option data-target="PF" value="French Polynesia">French Polynesia</option> 
    <option data-target="PG" value="Papua New Guinea">Papua New Guinea</option> 
    <option data-target="PH" value="Philippines">Philippines</option> 
    <option data-target="PK" value="Pakistan">Pakistan</option> 
    <option data-target="PL" value="Poland">Poland</option> 
    <option data-target="PM" value="Saint Pierre and Miquelon">Saint Pierre and Miquelon</option> 
    <option data-target="PN" value="Pitcairn">Pitcairn</option> 
    <option data-target="PR" value="Puerto Rico">Puerto Rico</option> 
    <option data-target="PS" value="Palestine, State of">Palestine, State of</option> 
    <option data-target="PT" value="Portugal">Portugal</option> 
    <option data-target="PW" value="Palau">Palau</option> 
    <option data-target="PY" value="Paraguay">Paraguay</option> 
    <option data-target="QA" value="Qatar">Qatar</option> 
    <option data-target="RE" value="Réunion">Réunion</option> 
    <option data-target="RO" value="Romania">Romania</option> 
    <option data-target="RS" value="Serbia">Serbia</option> 
    <option data-target="RU" value="Russian Federation">Russian Federation</option> 
    <option data-target="RW" value="Rwanda">Rwanda</option> 
    <option data-target="SA" value="Saudi Arabia">Saudi Arabia</option> 
    <option data-target="SB" value="Solomon Islands">Solomon Islands</option> 
    <option data-target="SC" value="Seychelles">Seychelles</option> 
    <option data-target="SD" value="Sudan">Sudan</option> 
    <option data-target="SE" value="Sweden">Sweden</option> 
    <option data-target="SG" value="Singapore">Singapore</option> 
    <option data-target="SH" value="Saint Helena, Ascension and Tristan da Cunha">Saint Helena, Ascension and Tristan da Cunha</option> 
    <option data-target="SI" value="Slovenia">Slovenia</option> 
    <option data-target="SJ" value="Svalbard and Jan Mayen">Svalbard and Jan Mayen</option> 
    <option data-target="SK" value="Slovakia">Slovakia</option> 
    <option data-target="SL" value="Sierra Leone">Sierra Leone</option> 
    <option data-target="SM" value="San Marino">San Marino</option> 
    <option data-target="SN" value="Senegal">Senegal</option> 
    <option data-target="SO" value="Somalia">Somalia</option> 
    <option data-target="SR" value="Suriname">Suriname</option> 
    <option data-target="SS" value="South Sudan">South Sudan</option> 
    <option data-target="ST" value="Sao Tome and Principe">Sao Tome and Principe</option> 
    <option data-target="SV" value="El Salvador">El Salvador</option> 
    <option data-target="SX" value="Sint Maarten, (Dutch part)">Sint Maarten, (Dutch part)</option> 
    <option data-target="SY" value="Syrian Arab Republic">Syrian Arab Republic</option> 
    <option data-target="SZ" value="Eswatini">Eswatini</option> 
    <option data-target="TC" value="Turks and Caicos Islands">Turks and Caicos Islands</option> 
    <option data-target="TD" value="Chad">Chad</option> 
    <option data-target="TF" value="French Southern Territories">French Southern Territories</option> 
    <option data-target="TG" value="Togo">Togo</option> 
    <option data-target="TH" value="Thailand">Thailand</option> 
    <option data-target="TJ" value="Tajikistan">Tajikistan</option> 
    <option data-target="TK" value="Tokelau">Tokelau</option> 
    <option data-target="TL" value="Timor-Leste">Timor-Leste</option> 
    <option data-target="TM" value="Turkmenistan">Turkmenistan</option> 
    <option data-target="TN" value="Tunisia">Tunisia</option> 
    <option data-target="TO" value="Tonga">Tonga</option> 
    <option data-target="TR" value="Turkey">Turkey</option> 
    <option data-target="TT" value="Trinidad and Tobago">Trinidad and Tobago</option> 
    <option data-target="TV" value="Tuvalu">Tuvalu</option> 
    <option data-target="TW" value="Taiwan, Province of China">Taiwan, Province of China</option> 
    <option data-target="TZ" value="Tanzania, United Republic of">Tanzania, United Republic of</option> 
    <option data-target="UA" value="Ukraine">Ukraine</option> 
    <option data-target="UG" value="Uganda">Uganda</option> 
    <option data-target="UM" value="United States Minor Outlying Islands">United States Minor Outlying Islands</option> 
    <option data-target="US" value="United States of America">United States of America</option> 
    <option data-target="UY" value="Uruguay">Uruguay</option> 
    <option data-target="UZ" value="Uzbekistan">Uzbekistan</option> 
    <option data-target="VA" value="Holy See">Holy See</option> 
    <option data-target="VC" value="Saint Vincent and the Grenadines">Saint Vincent and the Grenadines</option> 
    <option data-target="VE" value="Venezuela, Bolivarian Republic of">Venezuela, Bolivarian Republic of</option> 
    <option data-target="VG" value="Virgin Islands, British">Virgin Islands, British</option> 
    <option data-target="VI" value="Virgin Islands, U.S.">Virgin Islands, U.S.</option> 
    <option data-target="VN" value="Viet Nam">Viet Nam</option> 
    <option data-target="VU" value="Vanuatu">Vanuatu</option> 
    <option data-target="WF" value="Wallis and Futuna">Wallis and Futuna</option> 
    <option data-target="WS" value="Samoa">Samoa</option> 
    <option data-target="YE" value="Yemen">Yemen</option> 
    <option data-target="YT" value="Mayotte">Mayotte</option> 
    <option data-target="ZA" value="South Africa">South Africa</option> 
    <option data-target="ZM" value="Zambia">Zambia</option> 
    <option data-target="ZW" value="Zimbabwe">Zimbabwe</option> 
    </option> 
     </select>