<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About us</title>
    <meta name="keywords" content="broker, invest,Eight-bit investment, how to invest on Eight-bit, binary trading, Eightbit">
    <meta name="description" content="Eight-bit is an American based registered company. we are rapidly creating head financier firm on money related business sector. We give money related help extensive variety of financial instruments. Gathering stores of our speculators and making them work as indicated by inventive assessed plans in the amplest scope of worldwide benchmark items over all significant resource classes, including fates and alternatives taking into account interest rates.">
    
    <link rel="shortcut icon" type="image/x-icon" href="static/images/favicon.png" />

    <!-- css styles -->
    <link rel="stylesheet" href="static/assets/css/owl.carousel.min.css" />
    <link rel="stylesheet" href="static/assets/css/owl.theme.default.min.css" />
    <link rel="stylesheet" href="static/assets/css/icofont.min.css" />
    <link rel="stylesheet" href="static/assets/css/animate.css" />
    <link rel="stylesheet" href="static/assets/css/bootstrap.min.css" />
    <link rel="stylesheet" href="static/assets/css/odometer-theme-default.css" />
    <link rel="stylesheet" href="static/assets/css/style.css" />
    <link rel="stylesheet" href="static/css/home.css">
    <script type="text/javascript" src="static/assets/js/typer.js"></script>
  
    
   <style type="text/css">
   /* ###### show is to remove the height limit for the tab pane */
     
      .flag ul li{
        display: inline-flex;
      }
      .page-header{
          background-image: url("static/images/about_banner.jpg");
      }
    </style>
</head>
<body>
  <%- include("partials/preloader.ejs") -%>
<section class="header-section page-header">
    <!-- Header  -->
    <header class="header-area">
        <div class="dope-nav-container left breakpoint-on">
          <div class="container-fluid px-0">
            <%- include('partials/header.ejs'); %>
            <div class="container">
                <div class="row section-gap">
                  <div class="col-md-12">
                    <h1 >About Us</h1>
                    <ul class="pagination">
                      <li style="color:orange"><a href="/">Go to Home</a></li>
                      <li>About Us</li>
                    </ul>
                  </div>
                </div>
              </div>
          </div>
        </div>
      </header>
</section>
    <!--  START OVERVIEW SECTION -->
    <section class="overview-section section-gap">
        <div class="container">
          <div class="row">
            <div class="col-lg-4 col-md-12 tab-left">
              <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                <a class="nav-link active" id="v-pills-overview-tab" data-toggle="pill" href="#v-pills-overview" role="tab" aria-controls="v-pills-overview" aria-selected="true">
                  <img src="static/images/about_about.png" alt="">
                  <h4>About us</h4>
                </a>
                <a class="nav-link" id="v-pills-mission-tab" data-toggle="pill" href="#v-pills-mission" role="tab" aria-controls="v-pills-mission" aria-selected="false">
                  <img src="static/images/about_mission.png" alt="">
                  <h4> Our Mission</h4>
                </a>
                <a class="nav-link" id="v-pills-vision-tab" data-toggle="pill" href="#v-pills-vision" role="tab" aria-controls="v-pills-vision" aria-selected="false">
                  <img src="static/images/about_vision.png" alt="">
                  <h4> Our Vision</h4>
                </a>
              </div>
            </div>
            <div class="col-lg-8 col-md-12 tab-right">
              <div class="tab-content" id="v-pills-tabContent">
                <div class="tab-pane fade active show" id="v-pills-overview" role="tabpanel" aria-labelledby="v-pills-overview-tab">
                  <h2>Who Are We? Get To Know Us.</h2>
                  <p>Eight-bit miners is an automatic online investment platform established by a team of professional traders focusing mainly on crypto currency trading over multiple exchanges and market. Adding value to the team of like minded businessmen specialist in trading and maximizing investment. Our company has been growing fast by expanding trade industry and enrolling more elite traders and Miners respectively. Eight-bit is helping to educate, provide service for, secure, protect and ultimately profit from this emerging industry. Anyone all over the world can join EIght bit and began earning passive income by taking advantage of our expertise on crypto currency trading. Taking advantage of our expertise on crypto currency trading,Gold investment, Real Estate and Oil and Gas investment. </p>
                  <p>Recently, our company made a successful attempt the international technology market with an offer of profitable investments in financial investments. Our main aim is to provide safe and secured returns to our investors with effective and profitable trading solutions where investors need little or no experience at all about the same. Our investors can choose one of four lucrative yet simple investment plan with Eight-bit investment. If you want to join us, to earn over a period of long time then all you need to do is to register on our website, make deposit and sit back and relax while our experts work for you. We are expanding our features by providing you instant deposit and withdrawals. Use the possibilities of the company and earn on daily basis.</p>
                </div>
                <div class="tab-pane fade" id="v-pills-mission" role="tabpanel" aria-labelledby="v-pills-mission-tab">
                  <h2>Our Mission.</h2>
                  <p>We are a specialist discretionary investment manager, authorized to manage client investments by the Financial Conduct Authority (‘FCA’).</p>
                  <p>Our discretionary investment services are suitable for both inexperienced investors who want to access a sophisticated investment management service and sophisticated investors who do not wish to manage their own investments. Our typical clients are private individuals, trusts, charities and pension funds.</p>
                </div>
                <div class="tab-pane fade" id="v-pills-vision" role="tabpanel" aria-labelledby="v-pills-vision-tab">
                  
                  <p>At Eight-bit miners, we commit to provide services we render to our clients. This is why we always try to expand our technical capabilities and financial turnover with the help of FXpro Traders having hands-on experience guarantees for gaining profit by generating crypto currencies. Alpha Trons Edge envisions to widen the pool of investors by engaging in effective strategic trading of crypto currencies.</p>
                
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <!-- ########### WHY US SECTION ######### -->
      <section class="about-section section-gap">
        <div class="container">
          <div class="row d-flex align-items-center">
            <div class="about-left col-lg-6 col-md-12">
              <h1 style="color: black;">Why Eight Bit ?</h1>
              <p>We are dedicated and focused on giving you a level ground for your crypto investment and aiding your 
                financial dreams in a shortwhile. Here are Some of our Dedicated Services...</p>
              <div class="row">
                <div class="col-md-6">
                  <h4 class="purple">Legal Company</h4>
                  <p>Eight-bit, is a company registered in USA providing its investment services to the members all around the world..</p>
                </div>
                <div class="col-md-6">
                  <h4 class="yellow">Customer Support</h4>
                  <p>We understand how important having reliable support service is to you.
                     Please don't hesitate to contact us should you 
                    have any questions or concerns and we will get back to you in no time.</p>
                </div>
                <div class="col-md-6">
                  <h4 class="purple2">Security</h4>
                  <p>All data on financial operations as well as personal data are effectively protected with EV 
                    SSL certificates and additional services on encryption of data transfer.</p>
                </div>
                <div class="col-md-6">
                  <h4 class="green">Privacy</h4>
                  <p>We don't require identity verification. Information about your 
                    activity on the website is private and can't be accessed by third parties.</p>
                </div>
              </div>
            </div>
            <div class="about-right col-lg-6 col-md-12">
              <img class="img-fluid" src="static/images/8Bcert.jpg" alt="business certification by government to trade">
            </div>
          </div>
        </div>
      </section>
      <!-- ######## WHY US SECTION END ########## -->

      <!-- ######### EXPERT TRADER SECTION ########  -->

      <section class="team-section section-gap">
        <div class="container">
          <h1 class="title text-center">OUR EXPERT TEAM</h1>
          <div class="row d-flex justify-content-center">
            <div class="col-lg-3 col-md-6">
              <div class="single-team">
                <div class="thumb">
                  <img class="img-fluid" src="static/images/mary.jpg" alt="">
                </div>
                <div class="details text-center yellow">
                  <h4>James Reed</h4>
                  <p>Expert Trader(CEO)</p>
                 
                </div>
              </div>
            </div>
            
            <div class="col-lg-3 col-md-6">
              <div class="single-team">
                <div class="thumb">
                  <img src="static/images/li.jpg" alt="">
                </div>
                <div class="details text-center green">
                  <h4>Lisa Brandon</h4>
                  <p>Expert Trader</p>
                 
                </div>
              </div>
            </div>
            <div class="col-lg-3 col-md-6">
              <div class="single-team">
                <div class="thumb">
                  <img src="static/images/t4.jpg" alt="">
                </div>
                <div class="details text-center purple">
                  <h4>Ruthe Seaman</h4>
                  <p>Expert Trader</p>
                  
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <%- include("./partials/footer.ejs") -%>
      <script src="static/js/jquery-3.3.1.slim.min.js"></script>
      <script src="static/js/popper.min.js"></script>
      <script src="static/js/bootstrap.min.js"></script>
      <script src="static/js/owl.carousel.min.js"></script>
      <script src="static/js/dopeNav.js"></script>
      <script src="static/js/odometer.js"></script>
      <script src="static/js/tilt.jquery.min.js"></script>
      <script src="static/js/main.js"></script>
</body>
</html>