<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> OUR POLICY</title>
    <meta name="keywords" content="broker, invest,Eight-bit investment, how to invest on Eight-bit, binary trading, Eightbit">
    <meta name="description" content="Eight-bit is an American based registered company. we are rapidly creating head financier firm on money related business sector. We give money related help extensive variety of financial instruments. Gathering stores of our speculators and making them work as indicated by inventive assessed plans in the amplest scope of worldwide benchmark items over all significant resource classes, including fates and alternatives taking into account interest rates.">
    
    <link rel="shortcut icon" type="image/x-icon" href="static/images/favicon.png" />

    <!-- css styles -->
    <link rel="stylesheet" href="static/assets/css/bootstrap.min.css" />
    <link rel="stylesheet" href="static/assets/css/style.css">
    <link rel="stylesheet" href="static/css/home.css">
    
   <style type="text/css">
.dash{
    width: 80px
}
.page-header{
          background-image: url("static/images/about_banner.jpg");
      }
    </style>
</head>
<body>
  <%- include("partials/preloader.ejs") -%>
<section class="header-section page-header">
    <!-- Header  -->
    <header class="header-area">
        <div class="dope-nav-container left breakpoint-on">
          <div class="container-fluid px-0">
            <%- include('partials/header.ejs'); %>
            <div class="container">
                <div class="row section-gap">
                  <div class="col-md-12">
                    <h1 >OUR POLICY</h1>
                    <ul class="pagination">
                      <li style="color:orange"><a href="/">Go to Home</a></li>
                      <li> Read thoroughly</li>
                    </ul>
                  </div>
                </div>
              </div>
          </div>
        </div>
      </header>
</section>
<section class="container py-5">
    <h3 class="mb-3">Please read the following rules carefully before signing in</h3>
    <p> 
        Eight-bit has the interest of its investors at heart and that is why we’ve gone extra lengths in providing financial security to our investors and Partners.

        <br><br> 
        
        We believe that one of the laws one should observe on the road to financial freedom is Financial Security. Yes! This is true, while you work hard to earn, it’s necessary to ensure the safety of your earnings, for this reasons, our company is been registered and Heavily Regulated under the Financial Conduct Authority of the UK (FCA).

        
        <br><br> 
        
        Persons who are not familiar with Financial Laws might ask what is the FINANCIAL CONDUCT AUTHORITY OF THE UK?

        <br><br>                                                
        
        The Financial Conduct Authority (FCA) is a financial regulatory body in the United Kingdom which operates independently of the UK Government, and is financed by charging fees to members of the financial services industry.
The FCA regulates financial firms providing services to consumers and maintains the integrity of the financial markets in the United Kingdom.
Like its predecessor the FSA, the FCA is structured as a company limited by guarantee.
        
        <br>
        <br> 
        
        The FCA works alongside the Prudential Regulation Authority and the Financial Policy Committee to set regulatory requirements for the financial sector. The FCA is responsible for the conduct of around 58,000 businesses which employ 2.2 million people and contribute around £65.6 billion in annual tax revenue to the economy in the United Kingdom.                                                

        <br><br>                                                
        
        Did you hear us mention the PRUDENTIAL REGULATION AUTHORITY (PRA) YES we’re regulated alongside.
        <br><br>
The Prudential Regulation Authority (PRA) is a United Kingdom financial services regulatory body, formed as one of the successors to the Financial Services Authority (FSA)
<br><br>
The authority is responsible for the prudential regulation and supervision of banks, building societies, credit unions, insurers and major investment firms. It sets standards and supervises financial institutions at the level of the individual firm.

        <br>
        
        
        <br> 
        
        A Question to reflect on!
        
        <br>
        <br> 
        
        What do you think happens in an environment and situation where consumers of products, business partnership members, Investors in stocks and market trades are protected by the law?

        <br><br> 
        
        Well, we’ll give an answer to that right away!
In markets where consumers, investors, businesses etc are well protected, we see the following: They are not exposed to deceptive or unfair practices by financial services firms. They are provided with the appropriate level of protection against right violations and misconducts as well and that is why at Eight-bit, we’ve gone extra miles to protect and ensure the safety of our investors funds and this makes us outstanding in the market and that is not all yet.
        
        <br><br> 
        
        Our company is heavily protected, yes we have the have the FCA and PRA Protection.


        <br>
        
        
        <br> 
        
        The Financial Services Compensation Scheme (FSCS) can pay compensation if a company, bank, investment Firms, building society or credit union is unable to pay claims against it. The deposit protection limit is: up to £85,000 per eligible person, per bank, building society or credit union.
        
        <br>
        <br> 
        
        The Prudential Regulatory Authority (PRA), which is part of the Bank of England, promotes the safety and soundness of insurers, and the protection of policyholders. The Financial Conduct Authority (FCA) regulates how firms behave, as well as more broadly the integrity of the UK's financial markets.
        A lot of checks and balances are been done through the FCA supervisory statement(SS) Which helps set flexible frameworks for our firm, incorporating new and existing expectations. They focus on our expectations and are aimed at facilitating firm and supervisory judgement in determining whether we meet those expectations.
        <br><br> 
        
        A lot is also achieved through this, such as  keeping the industry stable, and promoting healthy competition between financial service providers. FCA works with HM Treasury.
    </p>
</section>
    
<!-- ######## FOOTER SECTION #########  -->
<%- include("partials/footer.ejs") -%>
</body>
</html>